# Resample Data

### Pandas Resample

In [1]:
import numpy as np
import pandas as pd 

dates = pd.date_range('26/03/2018', periods=11, freq='D')
close_prices = np.arange(len(dates))

close = pd.Series(close_prices, dates)
close

2018-03-26     0
2018-03-27     1
2018-03-28     2
2018-03-29     3
2018-03-30     4
2018-03-31     5
2018-04-01     6
2018-04-02     7
2018-04-03     8
2018-04-04     9
2018-04-05    10
Freq: D, dtype: int64

In [2]:
close.resample('3D')

DatetimeIndexResampler [freq=<3 * Days>, axis=0, closed=left, label=left, convention=start, base=0]

In [3]:
close

2018-03-26     0
2018-03-27     1
2018-03-28     2
2018-03-29     3
2018-03-30     4
2018-03-31     5
2018-04-01     6
2018-04-02     7
2018-04-03     8
2018-04-04     9
2018-04-05    10
Freq: D, dtype: int64

In [4]:
close.resample('3D').first()

2018-03-26    0
2018-03-29    3
2018-04-01    6
2018-04-04    9
Freq: 3D, dtype: int64

In [5]:
close.iloc[::3]

2018-03-26    0
2018-03-29    3
2018-04-01    6
2018-04-04    9
Freq: 3D, dtype: int64

In [6]:
try:
    # Attempt resample on a series without a time index
    pd.Series(close_prices).resample('W')
except TypeError:
    print('It threw a TypeError.')
else:
    print('It worked.')

It threw a TypeError.

In [8]:
a = pd.DataFrame({
    'days':close,
    'weeks':close.resample('W').first()})

In [9]:
a.index

DatetimeIndex(['2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29',
               '2018-03-30', '2018-03-31', '2018-04-01', '2018-04-02',
               '2018-04-03', '2018-04-04', '2018-04-05', '2018-04-08'],
              dtype='datetime64[ns]', freq=None)

In [10]:
a

            days  weeks
2018-03-26   0.0    NaN
2018-03-27   1.0    NaN
2018-03-28   2.0    NaN
2018-03-29   3.0    NaN
2018-03-30   4.0    NaN
2018-03-31   5.0    NaN
2018-04-01   6.0    0.0
2018-04-02   7.0    NaN
2018-04-03   8.0    NaN
2018-04-04   9.0    NaN
2018-04-05  10.0    NaN
2018-04-08   NaN    7.0

### OHLC

In [12]:
close.resample('W').ohlc()

            open  high  low  close
2018-04-01     0     6    0      6
2018-04-08     7    10    7     10

In [14]:
close.resample('W').last()

2018-04-01     6
2018-04-08    10
Freq: W-SUN, dtype: int64